*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
div#header{
    background-image: url(../img/beach-ge8ff95b8b_1920.jpg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
div#header label{
    font-size: 50px;
}
div#header a{
}