/* RESET */
/*Reset da página*/
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
nav,ul{
    text-decoration: none;  
}
a{
    text-decoration: none;
    cursor: pointer;
}

div#header{
    width: 100%; 
    display: flex;
    gap: 1em;
}
div#header label{
    font-size: 1rem;
}
div#header a{
}


#places .description-places{
    display: flex;
}

#places h1{

}

#places a{

}

#places{

}